.noto-serif-uniquifier {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px;
}

.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.navlink {
    text-decoration: none;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

#home {
    color: #252432;
    font-weight: bold;
}

#shop {
    color: #8987A1;
}

.banner {
    display: flex;
    align-items: end;
    justify-content: end;
    margin: 130px 150px;
}

.banner-title {
    font-size: 65px;
    font-weight: bold;

}

.banner img {
    width: 570px;
    height: 355px;
}

.orange {
    color: #E95A08;
}

.banner-description {
    font-size: 22px;
    color: rgb(0, 0, 0);
    opacity: 0.5;
}

main {
    margin: 130px;
}

.our-plant {
    text-align: center;
}

.plant-title {
    font-size: 50px;
    font-weight: bold;
}

.card {
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    margin-top: 50px;
}

.card-description {
    font-size: 22px;
}

.orange-btn {
    background-color: #E95A08;
    color: aliceblue;
    width: 100%;
    height: 50px;
    border: none;
    flex: 1;
}

.plant-lover {
    display: flex;
    gap: 38px;
}

.plant-lover-section {
    margin-top: 130px;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.trusted-badge {
    position: absolute;
    top: -100px;
    right: -70px;
    width: 50%;
    height: auto;
    filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.4));
}

.latest-deals {
    margin: 130px 100px;
}

.flowers {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    gap: 20px;
    padding: 20px;
}

.left-flowers {
    display: grid;
    gap: 20px;
}

.right-flowers {
    display: flex;
    align-items: stretch;
}

.image-box {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-flowers .image-box {
    height: 420px;
}

.image-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    z-index: 0;
}

.image-box p,
.image-box a {
    color: white;
    z-index: 1;
    margin: 5px 0;
    font-weight: bold;
    text-align: center;
}

.zabo {
    font-size: 2rem;
}
.form-box {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    z-index: 0;
}
.form{
    z-index: 1;
    text-align: center;
    color: white;
    font-weight: bold;
}
.form-input{
    display: flex;
    justify-content: center;
}
.form-title{
    font-size: 3rem;
    font-weight: bold;
}
.input-email{
    flex: 2;
    border: none;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  color:#8987A1;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-left {
 
  min-width: 200px;
}

.footer-left .tagline {
max-width: 300px;
  font-size: 22px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  min-width: 300px;
}

.footer-links div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links a {
  text-decoration: none;
  color:#8987A1;
  font-size: 1rem;
  margin: 10px 0;
}

.footer-icons {
  display: flex;
  gap: 50px;
  align-items: start;

}
